<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <remove name="WebSqlServer"/>
    <add name="WebSqlServer" connectionString="Data Source=WEBSERVER;Initial Catalog=PhoneList;Persist Security Info=True;User ID=sa;Password=P13sh0p;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages enableEventValidation="false" />
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
    <authentication mode="Windows"/>
    <identity impersonate="false" userName="bromyard\hladmin" password="P13sh0p"/>
  </system.web>
</configuration>
